[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
requests = "*"
django-crispy-forms = "*"
coverage = "*"
selenium = "*"
gunicorn = "*"
django-heroku = "*"
sentry-sdk = "*"
pillow = "*"

[requires]
python_version = "3.7"
