{% extends "blog/base.html" %}
{% load static %}
{% block content %}
<!-- Masthead -->

{% if substitut %}

<header class="page-section bg-primary"
  style="background-image: url({{ previous_product.image }}); background-size: cover; background-position: 50%;"
  id="about">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8 text-center">
        <h2 class="text-black mt-0"> <b> {{ previous_product.product_name }} </b></h2>
      </div>
    </div>
  </div>
</header>
{% else %}

<header class="header-product" id="about">
</header>
{% endif %}

<div class="container">
  <section>
    <h1 class="mt-2">{{ big_title }}</h1><br><br><br>
    <div class="row justify-content-center">

      {% for prod in products %}
      <div class="col-lg-4 col-md-12">
        <div class="box">
          <div class="parent">
            {% with 'blog/img/nutriscore-'|add:prod.nutriscore|add:'.svg' as image_static %}
            <img class="image1" id="image1" src="{% static image_static %}" />
            {% endwith %}
            <div class="image2">
              <img src="{{ prod.mini_image }}" />
            </div>
          </div>

          {% if substitut %}

          <div class="texte" style="text-align: center"><a href="/product/{{ prod.product_id }}">{{ prod.product_name }}
            </a>
            <br><a href=""></i>
              <form action="{{ prod.product_id }}/" method="post">
                {% csrf_token %}
                <button type="submit"><i class="far fa-save "></i> Sauvegarder</button>
              </form>
            </a>
            {% else %}

            <div class="texte" style="text-align: center"><a href="{{ prod.product_id }}">{{ prod.product_name }} </a>
              {% endif %}

            </div>
          </div>
        </div>
        {% endfor %}

      </div>
  </section>
</div>
{% if products.has_other_pages %}
<ul class="pagination justify-content-center mt-4">
  {% if products.has_previous %}
  <li class="page-item"><a class="page-link" href="?page={{ products.previous_page_number }}&q={{ request.GET.q }}"><i
        class="fa fa-chevron-left" aria-hidden="true"></i></a></li>
  {% else %}
  <li class="page-item disabled"><span><i class="page-link fa fa-chevron-left" aria-hidden="true"></i></span></li>
  {% endif %}

  {% if products.number|add:'-4' > 1 %}
  <li class="page-item"><a class="page-link"
      href="?page={{ products.number|add:'-5' }}&q={{ request.GET.q }}">&hellip;</a></li>
  {% endif %}

  {% for num in products.paginator.page_range %}
  {% if products.number == num %}
  <li class="page-item active"><span class="page-link">{{ num }} <span class="sr-only">(current)</span></span></li>
  {% elif num > products.number|add:'-5' and num < products.number|add:'5' %}
  <li class="page-item"><a class="page-link" href="?page={{ num }}&q={{ request.GET.q }}">{{ num }}</a></li>
  {% endif %}
  {% endfor %}

  {% if products.paginator.num_pages > products.number|add:'4' %}
  <li class="page-item"><a class="page-link"
      href="?page={{ products.number|add:'5' }}&q={{ request.GET.q }}">&hellip;</a></li>
  {% endif %}

  {% if products.has_next %}
  <li class="page-item"><a class="page-link" href="?page={{ products.next_page_number }}&q={{ request.GET.q }}"><i
        class="fa fa-chevron-right" aria-hidden="true"></i></a></li>
  {% else %}
  <li class="page-item disabled"><span><i class="page-link fa fa-chevron-right" aria-hidden="true"></i></span></li>
  {% endif %}

</ul>
{% endif %}
{% endblock content %}